.pokemon-card {
  background: white;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  /* box-sizing: border-box; */
}

.pokemon-card-grid-style {
  margin: -1px 0 0 -1px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  background: white;
}

.card-heading {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #4f5c69;
}
