<app-stateful-detail-card heading="Stats" minHeight="350px">
  <div class="stats-content">
    <div #statBar class="stat" *ngFor="let stat of stats">
      <div class="stat-heading">
        <img [src]="stat.icon" [alt]="stat.iconText" class="stat-icon" />
        <span>{{ stat.name }}</span>
      </div>
      <div class="stat-bar" [style.width]="statBarWidth">
        <div class="value-bar" [style.width]='getValueBarWidth(stat)'>
          {{ stat.baseStat }}
        </div>
      </div>
    </div>
  </div>
</app-stateful-detail-card>
