.main-content {
  height: 100%;
  width: 100%;
  background: #EEEEEE;
}

.side-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.side-menu {
    width: 200px
  }

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }