<mat-sidenav-container class="side-container">
  <mat-sidenav #sidenav class="side-menu" mode="side" [(opened)]="opened">
    <mat-toolbar class="toolbar">Pokédex</mat-toolbar>
    <ul class="menu-links">
      <li>Pokemon</li>
      <li>About</li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar>
      <button mat-icon-button>
        <mat-icon (click)='toggleSideNav()'>menu</mat-icon>
      </button>
      <div class="logo-container">
        <img [src]="logoSrc" alt="en:Game Freak, en:Nintendo, en:The Pokémon Company [Public domain]">
      </div>
    </mat-toolbar>

    <!-- <router-outlet></router-outlet> -->

    <app-pokemon-list></app-pokemon-list>
  </mat-sidenav-content>
</mat-sidenav-container>