<mat-sidenav-container class="side-container">
  <mat-sidenav #sidenav class="side-menu" mode="side" [(opened)]="opened">
    <mat-toolbar>Pokédex</mat-toolbar>
    Pokemon
    About
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar>
      <button mat-button>
        <mat-icon (click)='toggleSideNav()'>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="card-container">
      <app-pokemon-card [pokemon]="pokemon" *ngFor="let pokemon of (pokemon$ | async)"></app-pokemon-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <router-outlet></router-outlet> -->