.arrow-right {
  width: 0;
  height: 0;
  margin: 25px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 24px solid #cbcfd3;
}

.arrow-down {
  width: 0;
  height: 0;
  margin: 10px 25px 25px 25px;
  border-top: 24px solid #cbcfd3;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}

.evolution-branch,
.evolution-branch-small {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.evolution-branch-small {
  flex-direction: column;
}

.evolution-section {
  display: flex;
  align-items: center;
}

.pokemon {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.evolution-divider-h {
  width: 75%;
  height: 1px;
  margin-top: 20px;
  border: none;
  border-top: 0.1px solid #eaeaea;
}
