<app-detail-card heading="Gender Ratio" width="335px">
    <div class="gender-content">
        <div class="gender-data">
            <img src="assets/svg-icons/male-icon.svg" alt="male" class="gender-icon">
            <span class="gender-value">{{genderRatio.male | number: '2.0'}} </span>
            <span class="gender-symbol">%</span>
        </div>
        <div class="gender-divider"></div>
        <div class="gender-data">
            <img src="assets/svg-icons/female-icon.svg" alt="male" class="gender-icon">
            <span class="gender-value">{{genderRatio.female | number: '2.0'}} </span>
            <span class="gender-symbol">%</span>
        </div>
    </div>
</app-detail-card>