<!-- todo: Wrap shared component 'detail card' to allow single store injection for layout  -->
<div class="detail-container">
  <div class="profile-stats-row">
    <app-profile-card
      [layoutGrid]="layout$ | async"
      [pokemon]="pokemon"
      [species]="species"
      [description]="description"
    ></app-profile-card>
    <app-stats-card
      [layoutGrid]="layout$ | async"
      [stats]="stats"
    ></app-stats-card>
  </div>
  <div class="species-data-row">
    <app-metrics-card
      [layoutGrid]="layout$ | async"
      [metrics]="metrics"
    ></app-metrics-card>
    <app-metrics-card
      [layoutGrid]="layout$ | async"
      [metrics]="genderRatio"
      heading="Gender"
    ></app-metrics-card>
    <app-evolution-card
      [layoutGrid]="layout$ | async"
      [evolutionChain]="evolutionChain"
    ></app-evolution-card>
  </div>
  <app-moves-card
    [layoutGrid]="layout$ | async"
    [moves]="moves"
  ></app-moves-card>
</div>
