.pokemon-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 140px;
    margin: 20px;
}

.pokemon-card img {
    display: block;
    position: absolute;
}

.pokemonId {
    /* font-weight: 600; */
    display: block;
    width: 100%;
    color: white;
    position: relative;
    bottom: 51px;
    padding-left: 15px;
    text-align: left;
}